.container-header {
  background-color: #283593;
  color: #D3DAE4;
  height: 120px;
}

.header {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; 
}

.header img{
  margin: 10px;
}

.page {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;  
}

.container-footer {
   background-color: #0245AC;
}

.footer {
  max-width: 960px;
  background-color: #0245AC;
  height: 50px;
  color: #D3DAE4;
  padding: 10px;
  margin-left: auto;
  margin-right: auto; 
}

.footer p {
  font-size: x-small;
}






