body {
  background-color: #f0f0f0;
}

.container-header {
  background-color: #f0f0f0;
  color: #D3DAE4;
}

.header img{
  margin: 10px;
}

.separator {
  height: 150px;
  padding-top: 50px;
}

.container-footer {
   background-color: #f0f0f0;
}

.footer {
  height: 100px;
  color: #111111;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  font-size: x-small;
}

.container-page {
  background-image: url("https://galadriel.ired.unam.mx/registro/img/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  background-color: #fdfdfd;
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron {
  background: rgb(50, 50, 50); /* This is for ie8 and below */
  background: rgba(50, 50, 50, 0.5); 
  color: #ffffff;
  margin-top: 80px;
}

.image-list {
  height: 64px;
}

@media (min-width: 768px) { .navbar .collapse { display: block !important; } }

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
