<div id="separator" ng-include=" 'templates/separator.html' "></div>
<div class="container page">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
              <a href="#/profile">Mi perfil</a>
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> 
              <a href="#/password">Cambiar contraseña</a>
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> 
              <a href="#/bank">Solicitar linea de captura</a>
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 
              <a href="#/requests">Mis solicitudes</a>
            </li>
          </ul>
        </div>    
    </div>
</div>