<div id="separator" ng-include=" 'templates/separator.html' "></div>
<div class="container page">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><a href="#/speakers">Ponentes</a></li>
        <li class="list-group-item"><a href="#/requeriments">Requisitos</a></li>
        <li class="list-group-item"><a href="#/prices">Costos</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <h2 class="text-primary">
        Eventos proximos a realizarse.
      </h2>
      <form class="form-inline">
          <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
              <input type="search" class="form-control input-lg" placeholder="buscar evento..." ng-model="data.searchQuery">
          </div>
      </form>
      <div class="media" ng-repeat="item in events | filter: data.searchQuery" ng-click="null">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="media-left">
              <a href="#">
                <img class="media-object image-list img-rounded" src="img/img_01.jpg" alt="image">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading text-info">{{ item.event_name }}</h4>
              <blockquote class="data-event">
                <p>
                <strong>{{ item.event_type }}</strong><br>
                <span class="text-capitalize">Area; {{ item.area_name }}</span><br>
                <span>Categoría; {{ item.category_name }}</span><br>
                Ubicación; {{ item.event_site }}<br>
                Costo de recuperación; {{ item.event_price | currency }}</p>
              </blockquote>
              <span class="label label-info">{{ item.event_quota }} lugares</span>
              <p>{{ item.event_date | date }}</p>
              <p><a href="#/event/{{ item.event_id }}" class="btn btn-primary pull-right" role="button">Mas información</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>