<md-card ng-repeat="item in events" ng-click="null">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ item.event_nombre }}</span>
      <span class="md-subhead">{{ item.event_resumen }}</span>
      <p>{{ item.event_fecha | date }} <md-button class="md-raised">Button</md-button></p>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-sm card-media"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>Mas información</md-button>
    <md-button>Registrse</md-button>
  </md-card-actions>
</md-card>