<div class="container-page"> 
  <div class="container">
    <div class="jumbotron">
      <h2>4º Encuentro estudiantil de psicología</h2>
      <p>¡Inscribete a los talleres de psicología!</p>
      <p><a class="btn btn-primary btn-lg" href="#/signin" role="button">Registrate</a></p>
    </div>
  </div>
</div>
<div class="container slogan">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <h2 class="text-center">Sistema de registro a eventos</h2>
    </div>
  </div>
</div>
<div class="container page">
  <h4 class="text-center"><a href="#/events">Ver el catalogo completo de eventos</a></h4>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum leo ligula, at varius libero elementum sit amet. Duis et eros ante. Praesent eleifend finibus orci vitae ullamcorper. Phasellus molestie quam facilisis lacus bibendum, sollicitudin ultricies massa ultricies. Vestibulum molestie tempor ex eget vehicula.
    </div>
    <div class="col-sm-4 col-md-4">
      Vestibulum tempor, felis non pretium blandit, dui dolor egestas mauris, nec accumsan tortor lectus ut sem. Sed in dictum tortor, vel fringilla sapien. Integer dignissim ipsum at velit tempor, vitae posuere ex sagittis. Suspendisse potenti. Ut libero urna, consectetur ac dictum vitae, sagittis sit amet magna.
    </div>
    <div class="col-sm-4 col-md-4">
      Sed et ligula non enim eleifend tincidunt in non nisi. Maecenas a tempus augue. Suspendisse vel rhoncus velit. Aenean id euismod ex, vitae faucibus nibh.
    </div>
  </div>
</div>
<div class="container">
  Siguenos en la redes sociales »
</div>
