<nav ng-controller="NavController" role="navigation" class="navbar navbar-default navbar-fixed-top" bs-navbar bs-collapse data-start-collapsed="true">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" bs-collapse-toggle>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="img/unam.png"></span></a>
            <p class="navbar-text">UNAM</p>
        </div>
        <div bs-collapse-target>
            <ul class="nav navbar-nav navbar-right">
                <li data-match-route="/signin"><a href="#/signin">Registrarse</a></li>
                <li data-match-route="/login"><a href="#/login">Ingresar</a></li>
            </ul>
        </div>
    </div>
</nav>