<div id="separator" ng-include=" 'templates/separator.html' "></div>
<div class="container page">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Formulario de contraseña</div>
                <div class="panel-body">
                    <form name="loginUserForm">
                        <div class="form-group">
                            <label for="email">Nueva contraseña</label>
                            <input type="password" class="form-control" id="email" placeholder="Escribe tu nueva contraseña" ng-model="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Verificación</label>
                            <input type="password" class="form-control" id="password" placeholder="Escribela de nuevo" ng-model="password" required>
                        </div>
                        <button type="submit" ng-disabled="!loginUserForm.$valid" ng-click="login(username)" class="btn btn-primary pull-right">Iniciar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>