<div class="container-header">
    <div id="menu" ng-include=" 'templates/menu.html' "></div>
</div>
<div id="separator" ng-include=" 'templates/separator.html' "></div>
<div class="container page">
    <div id="breadcrumb" ng-include=" 'templates/breadcrumb.html' "></div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Perfil del usuario</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="number">Número de cuenta</label>
                            <input type="text" class="form-control" id="number" ng-model="account.account_username" ng-maxlength="9" placeholder="Número de cuenta de la UNAM">
                        </div>
                        <div class="form-group">
                            <label for="firstname">Nombre</label>
                            <input type="text" class="form-control" id="firstname" ng-model="account.account_firstname" ng-maxlength="50" placeholder="Nombre completo" capitalize required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Apellidos</label>
                            <input type="text" class="form-control" id="lastname" ng-model="account.account_lastname" ng-maxlength="50" placeholder="Tus apellidos" capitalize required>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="email" class="form-control" id="email" ng-model="account.account_email" ng-maxlength="50" placeholder="Correo electrónico" required>
                        </div>
                        <button type="submit" ng-click="update(username)" class="btn btn-primary pull-right">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>