<div id="separator" ng-include=" 'templates/separator.html' "></div>
<div class="container page">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Formulario de registro</div>
                <div class="panel-body">
                    <form name="signinUserForm">
                        <div class="form-group">
                            <label for="number">Número de cuenta de la UNAM</label>
                            <input type="text" class="form-control" id="username" placeholder="a 9 digitos" ng-minlength="9" ng-model="account.account_username" required>
                        </div>
                        <div class="form-group">
                            <label for="firstname">Nombre</label>
                            <input type="text" class="form-control" id="firstname" placeholder="Nombre completo" ng-maxlength="50" ng-model="account.account_firstname" capitalize required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Apellidos</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Tus apellidos" ng-maxlength="50" ng-model="account.account_lastname" capitalize required>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="email" class="form-control" id="email" placeholder="Correo electrónico valido" ng-maxlength="50" ng-model="account.account_email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" placeholder="Contraseña de minimo 8 caracteres" ng-minlength="8" ng-model="account.account_password" required>
                        </div>
                        <button type="submit" ng-disabled="!signinUserForm.$valid" ng-click="signin(username)" class="btn btn-primary pull-right">Registarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>