<div class="container-page"> 
    <div class="separator bg-primary">
        <div class="container">
            <h2>Ponentes</h2>
            <p>Nuestros ponentes.</p>
        </div>
    </div>
</div>
<div class="container page">
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><a href="#/">Inicio</a></li>
        <li class="list-group-item"><a href="#/speakers">Ponentes</a></li>
        <li class="list-group-item"><a href="#/requeriments">Requisitos</a></li>
        <li class="list-group-item"><a href="#/prices">Costos</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
        
    </div>
</div>