<div id="separator" ng-include=" 'templates/separator.html' "></div>
<div class="container page">
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><a href="#/">Inicio</a></li>
        <li class="list-group-item"><a href="#/speakers">Ponentes</a></li>
        <li class="list-group-item"><a href="#/requeriments">Requisitos</a></li>
        <li class="list-group-item"><a href="#/prices">Costos</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
        <form class="form-inline">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                <input type="search" class="form-control input-lg" placeholder="buscar..." ng-model="data.searchQuery">
            </div>
        </form>
        <div class="media" ng-repeat="speaker in speakers | filter: data.searchQuery" ng-click="null">
            <div class="media-left">
                <img gravatar-src="speaker.speaker_email" gravatar-size="48" alt="{{ speaker.speaker_email }}" class="image-profile">
            </div>
            <div class="media-body">
                <address>
                <strong class="text-capitalize">{{ speaker.speaker_firstname | lowercase }} {{ speaker.speaker_lastname | lowercase }}</strong><br>
                <em class="text-info">{{ speaker.speaker_email }}</em><br>
                <small>{{ speaker.speaker_summary }}</small>
                </address>
            </div>
        </div>
    </div>
</div>